
<h3><%= @catering.name %></h3>
<%= @catering.city %>
<%= @catering.description %>
<ol>
  <% @daily_meals_today.each do |daily_meal| %>
    <li><%= daily_meal.meal.name %>
        <ul>
          <li></li>
        </ul>
    </li>
  <% end %>
</ol>

