<h1>Offer meals for <%= Date.today %></h1>


<%= form_for @daily_meal, url: catering_daily_meals_path, method: 'post', :html => {:class => "form-horizontal center"} do |f| %>
  <div class="form-group">
    <div class="col-md-8">
      <%= f.select :meal, options_for_select(@meals.collect { |i| [i.name, i.id] }), {}, {:multiple => true, :class => "form-control", :style => "width:450px;" } %>
    </div>
    <div class="col-md-8">
      <%= f.submit %>
    </div>
  </div>
<% end %>
