
<div class="jumbotron">
  <h1 class="display-4">JA TO ZJEM</h1>
  <p class="lead">Głód woła.</p>
  <hr class="my-4">
  <p>Moja aplikacja jest nowoczesna, gdyż używa jumbotronów.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">"Naucz" się więcej.</a>
</div>