/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
@import "tempusdominus-bootstrap-4.css";

  .icon-green{
     color: green;
  }

  .icon-red{
    color: red;
  }

 .alert, .notice{
 	margin: 0;
 	padding: 2rem;
 	font-weight: bold;
 	letter-spacing: 1px
 }
 .alert{
 	color:#8a6d3b;
 }
 .notice{
 	color: #fff;
 }

 .alert-wrapper, .notice-wrapper {
 	position: absolute;
 	top: 0;
 	text-align: center;
 	width: 100%;
 	z-index: 99;
 }
 .alert-wrapper{
 	background-color: rgba(252,248,227,.85);
 }
 .notice-wrapper{
 	background-color: rgba(135,216,211,.85);
 }

 .navbar-default{
 	padding: 1.3rem;
 	background-color: #777;
 	color: white;
 }
 .page-header{
 	text-align: center;
 	margin: 10px 0;
 }
